* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: rufina;
}

/* Landing Page */
.landing {  
  background-color: #38846d;
  height: 667px;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#intro-left {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

#intro-right {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#airbean-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  margin-left: 60px;
  margin-top: 7px;
  
}

/* Menu Page */
.menu {  
  background-color: #F3E4E1;
  height: 839;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 130px auto auto 130px;
}
.menu .view-cart {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 112px;
  margin-top: 15px;
}
.menu-header {
  font-weight: 700;
  font-size: 35px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  justify-self: center;
  padding-bottom: 35px;
}
.menu-items {
  width: 375px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
#menu-top {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}
#menu-bottom {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  margin-top: 60px;
}

/* Menu Item Component */
.menu-item {
  display: grid;
  grid-template-columns: 60px 1fr 80px;
  grid-template-rows: 1fr 1fr;
  margin-top: 5px;
}
.menu-item-circle {
  height: 32px;
  width: 32px;
  background-color: #2F2926;
  border-radius: 50%;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.menu-item-circle #plus-sign {
  height: 50%;
  width: 50%;
  margin-top: 25%;
}
.menu-item h1 {
  font-size: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.title-and-dots {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
}
.menu-item #title {
  width: auto; 
}
.title-and-dots #dots {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  min-width: 30px;
  margin-bottom: 20px;
  width: auto;
}
.menu-item #price {
  grid-column-start: 4;
  text-align: right;
  margin-right: 30px;
}
.menu-item #desc {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 12px;
  font-weight: 100;
}

/* View Cart Component */
.cart-component {
  height: 65px;
  width: 65px;
}
.circle-with-bag {
  background-color: #2F2926;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  justify-content: center;
}

#bag-image {
  margin-top: 18px;
  margin-bottom: auto;
  margin-left: 22px;
  margin-right: auto;
}

.circle-counter {
  background-color: #E5674E;
  color: white;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  bottom: 60px;
  left: 40px;
}

/* Status Page */
.status {
  background-color: #E5674E;
  color: white;
  width: 375px;
  height: 667px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%; 
  text-align: center;
}
.ordernummer {
  font-size: 12px;
  font-weight: 200;
  opacity: 70%;
  padding-top: 70px;
}
#drone {
  padding-top: 60px;
}
.squeeze {
  width: 75%;
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
}
.eta {
  padding-top: 20px;
  font-weight: 100;
  font-size: 18px;
}
/* This should probably be a rectangle with two circles at the ends */
.quit {
  background-color: white;
  color: black;
  width: 184px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;  
  justify-content: center;
  border-radius: 30%;
  margin-top: 80px;
}
.cool {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 1000;
  margin-top: 15px;
}